<!DOCTYPE html>
<html>
<head>
<title><%= @title %></title>
  <link href="/bootstrap/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css" media="screen, project" />
  <style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 40px;
      }
    </style>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="160">
  <%= erb :nav %>
  <div class="container">
    <div class="span12">
    <div class="row-fluid">
    <!--  <div class="span4">
         <%= erb :sidebar %>
      </div>
    -->
      <!--MAIN CONTENT-->
      <div class="span8">
      <%= yield %>
      </div>
    </div>
  </div>
    <div>
      <%= erb :footer %>
    </div>
  </div>
</body>
</html>